replicaCount: 1
configMap:
  enabled: false 
  
image:
  pullPolicy: IfNotPresent

service:
  type: ClusterIP

resources:        
  limits:
    cpu: "500m"
    memory: "500Mi"
  requests:
    cpu: "200m"
    memory: "250Mi"

autoscaling:        
  targetCPUUtilizationPercentage: 80
  resources:
    requests:
      cpu: "200m"
      memory: "200Mi"
    limits:
      cpu: "400m"
      memory: "400Mi"

volumeMounts: 
  - name: persistentvolumeclaim 
    mountPath: /var/lib/postgresql/data
  # - name:  script-initialisation-db
  #   mountPath: /docker-entrypoint-initdb.d/tables.sql
  #   subPath: tables.sql
  # - name:  admin-data
  #   mountPath: /docker-entrypoint-initdb.d/triggers.sql
  #   subPath: triggers.sql

volumes:
  nameScript: script-initialisation-db
  nameAdminData: admin-data
  namepvc: persistentvolumeclaim

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local


# serviceAccount:
#   create: true
#   automount: true
#   annotations: {}
#   name: ""

# podAnnotations: {}
# podLabels: {}

# podSecurityContext: {}
   # fsGroup: 2000

# securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000