variable:
  lien: &lien library.demos.com
  autoscale: &autoscale false
  minInstace: &minInstance 2
  maxInstace: &maxInstance 100
  image: &image akamatatra/librairie
  tagFullstack: &tagFullstack latest
  port: &port 5000
  nombrePodIndispo: &nombrePodIndispo 1
  nombrePodMAJ: &nombrePodMAJ 1 

global:
  namespace: cluster 

fullstack:
  nameOverride: python
  fullnameOverride: pythonfullstack
  port: *port
  images:
    repository: *image
    tag: *tagFullstack
  autoscaling:
    enabled: *autoscale
    minReplicas: *minInstance
    maxReplicas: *maxInstance
    targetCPUUtilizationPercentage: 80
  env: 
    MYSQL_HOST: "mysql"
    MYSQL_USER: "admin"
    MYSQL_PASSWORD: "admin"
    MYSQL_DB: "library" 
  url: *lien
  strategy:
    type: RollingUpdate
    maxUnavailable: *nombrePodIndispo
    maxSurge: *nombrePodMAJ

database:
  nameOverride: database 
  fullnameOverride: databasemysql
  image: 
    repository: mysql
    tag: 5.7
  autoscaling: 
    enabled: false
    minReplicas: *minInstance
    maxReplicas: *maxInstance
    targetCPUUtilizationPercentage: 80
  volumeHost:
    capacity: 5Gi
    hostPath: /opt/gridproject/mysql
    
phpmyadmin:
  nodePorts:
    enabled: true 
    service:
      type: NodePort
      nodePort: 30017
  nameOverride: phpadmin
  fullnameOverride: phpmyadmin